.idea/
dist/
.DS_Store
.metals/
.vscode/
/node_modules/midi-writer-js/.editorconfig
/node_modules/midi-writer-js/.eslintignore
/node_modules/midi-writer-js/.eslintrc.js
/node_modules/midi-writer-js/.nvmrc
/node_modules/.package-lock.json
/node_modules/midi-writer-js/.travis.yml
/node_modules/midi-writer-js/browser/types/abstract-event.d.ts
/node_modules/midi-writer-js/build/types/abstract-event.d.ts
/node_modules/midi-writer-js/examples/chopin-prelude-e-minor.js
/node_modules/midi-writer-js/browser/types/chunks/chunk.d.ts
/node_modules/midi-writer-js/build/types/chunks/chunk.d.ts
/node_modules/midi-writer-js/CLAUDE.md
/node_modules/midi-writer-js/browser/types/constants.d.ts
/node_modules/midi-writer-js/build/types/constants.d.ts
/node_modules/midi-writer-js/browser/types/midi-events/controller-change-event.d.ts
/node_modules/midi-writer-js/build/types/midi-events/controller-change-event.d.ts
/node_modules/midi-writer-js/browser/types/meta-events/copyright-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/copyright-event.d.ts
/node_modules/midi-writer-js/browser/types/meta-events/cue-point-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/cue-point-event.d.ts
/node_modules/midi-writer-js/browser/types/meta-events/end-track-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/end-track-event.d.ts
/node_modules/midi-writer-js/browser/types/chunks/header.d.ts
/node_modules/midi-writer-js/build/types/chunks/header.d.ts
/node_modules/midi-writer-js/examples/hot-cross-buns.js
/node_modules/midi-writer-js/build/index.browser.js
/node_modules/midi-writer-js/build/index.js
/node_modules/midi-writer-js/index.js
/node_modules/midi-writer-js/browser/types/meta-events/instrument-name-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/instrument-name-event.d.ts
/node_modules/midi-writer-js/jsdoc.json
/node_modules/midi-writer-js/browser/types/meta-events/key-signature-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/key-signature-event.d.ts
/node_modules/@tonaljs/midi/LICENSE
/node_modules/@tonaljs/pitch/LICENSE
/node_modules/@tonaljs/pitch-note/LICENSE
/node_modules/midi-writer-js/LICENSE
/node_modules/midi-writer-js/llms.txt
/node_modules/midi-writer-js/browser/types/meta-events/lyric-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/lyric-event.d.ts
/node_modules/midi-writer-js/browser/types/main.d.ts
/node_modules/midi-writer-js/build/types/main.d.ts
/node_modules/midi-writer-js/test/main.js
/node_modules/midi-writer-js/browser/types/meta-events/marker-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/marker-event.d.ts
/node_modules/midi-writer-js/examples/mauro.giuliani-op.47-main-theme.js
/node_modules/midi-writer-js/browser/types/meta-events/meta-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/meta-event.d.ts
/node_modules/midi-writer-js/browser/types/midi-events/midi-event.d.ts
/node_modules/midi-writer-js/build/types/midi-events/midi-event.d.ts
/node_modules/midi-writer-js/browser/midiwriter.js
/node_modules/midi-writer-js/browser/types/midi-events/note-event.d.ts
/node_modules/midi-writer-js/build/types/midi-events/note-event.d.ts
/node_modules/midi-writer-js/browser/types/midi-events/note-off-event.d.ts
/node_modules/midi-writer-js/build/types/midi-events/note-off-event.d.ts
/node_modules/midi-writer-js/browser/types/midi-events/note-on-event.d.ts
/node_modules/midi-writer-js/build/types/midi-events/note-on-event.d.ts
/node_modules/midi-writer-js/examples/notes-by-start-tick.js
/node_modules/@tonaljs/midi/package.json
/node_modules/@tonaljs/pitch/package.json
/node_modules/@tonaljs/pitch-note/package.json
/node_modules/midi-writer-js/package.json
/package.json
/package-lock.json
/node_modules/midi-writer-js/browser/types/midi-events/pitch-bend-event.d.ts
/node_modules/midi-writer-js/build/types/midi-events/pitch-bend-event.d.ts
/node_modules/midi-writer-js/postinstall.js
/node_modules/midi-writer-js/browser/types/midi-events/program-change-event.d.ts
/node_modules/midi-writer-js/build/types/midi-events/program-change-event.d.ts
/node_modules/@tonaljs/midi/README.md
/node_modules/@tonaljs/pitch/README.md
/node_modules/@tonaljs/pitch-note/README.md
/node_modules/midi-writer-js/README.md
/node_modules/midi-writer-js/rollup.config.js
/node_modules/midi-writer-js/runkit.js
/node_modules/midi-writer-js/.claude/settings.local.json
/node_modules/midi-writer-js/browser/types/meta-events/tempo-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/tempo-event.d.ts
/node_modules/midi-writer-js/browser/types/meta-events/text-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/text-event.d.ts
/node_modules/midi-writer-js/browser/types/meta-events/time-signature-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/time-signature-event.d.ts
/node_modules/midi-writer-js/browser/types/chunks/track.d.ts
/node_modules/midi-writer-js/build/types/chunks/track.d.ts
/node_modules/midi-writer-js/browser/types/meta-events/track-name-event.d.ts
/node_modules/midi-writer-js/build/types/meta-events/track-name-event.d.ts
/node_modules/midi-writer-js/tsconfig.json
/node_modules/midi-writer-js/typedoc.json
/node_modules/midi-writer-js/browser/types/utils.d.ts
/node_modules/midi-writer-js/build/types/utils.d.ts
/node_modules/midi-writer-js/browser/types/vexflow.d.ts
/node_modules/midi-writer-js/build/types/vexflow.d.ts
/node_modules/midi-writer-js/test/vexflow.js
/node_modules/midi-writer-js/browser/types/writer.d.ts
/node_modules/midi-writer-js/build/types/writer.d.ts
/node_modules/midi-writer-js/test/writer.js
/node_modules/midi-writer-js/examples/zelda-main-theme.js
