@use 'base';
@use 'utils';
@use 'mixins';

body.dark{
  @include mixins.darken();
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
body.light {
  @include mixins.lighten();
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
