<section class="tracks-container">
  <article *ngFor="let track of beat.tracks" class="track-container">
    <h3 class="track-name">{{ track.name }}</h3>
    <div id="track" [class.sixteen-steps]="track.steps.length == StepLengths.sixteen"
         [class.thirty-two-steps]="track.steps.length == StepLengths.thirty_two"
         [class.sixty-four-steps]="track.steps.length == StepLengths.sixty_four">
      <div *ngFor="let step of track.steps; let i = index" class="step" [class.active]="step"
           [class.current]="i === this.sound.index"></div>
    </div>
  </article>
</section>
