<div id="main-container">
  <div class="play-button-container flex">
    <button class="play-pause-button cursor-pointer app-button"
            (click)="this.soundService.playPause()">
      {{ this.soundService.isPlaying ? "⏸" : "▶" }}
    </button>
  </div>
  <div class="sequencer-header">
    <div class="label">
      <app-select-input [elements]="genresLabel"
                        [selectedElement]="selectedGenreLabel"
                        (selectChange)="this.selectGenre($event)"
                        placeHolder="Choose genre">
      </app-select-input>
    </div>
    <div class="label">
      <app-select-input [elements]="beats"
                        [selectedElement]="this.beat.label"
                        (selectChange)="beatChange($event)"
                        placeHolder="Choose {{selectedGenreLabel}} beat">
      </app-select-input>
    </div>
    <div class="flex label bpm-input-group">
      <app-bpm-input [bpm]="this.tempoService.bpm" (bpmChange)="changeBeatBpm($event)"></app-bpm-input>
      <span class="large user-select-none"> bpm</span>
    </div>
  </div>
  <div class="tracks-name-container">
    @for (track of beat.tracks; track track){
      <div class="tracks-name">
        <svg class="svg-icon cursor-pointer" role="img" viewBox="0 0 21 21" aria-hidden="true" focusable="false"
             (mousedown)="soundService.playTrack(track.fileName)">
          <g stroke-width="0"></g>
          <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.134">
            <g fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6.5 8.5v4"></path>
              <path d="m8.5 6.5v9"></path>
              <path d="m10.5 9.5v2"></path>
              <path d="m12.5 7.5v6.814"></path>
              <path d="m14.5 4.5v12"></path>
            </g>
          </g>
          <g>
            <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6.5 8.5v4"></path>
              <path d="m8.5 6.5v9"></path>
              <path d="m10.5 9.5v2"></path>
              <path d="m12.5 7.5v6.814"></path>
              <path d="m14.5 4.5v12"></path>
            </g>
          </g>
        </svg>
        <div class="track-name user-select-none medium">
          {{ track.name }}
        </div>
      </div>
    }
  </div>
  <section class="tracks-container">
    @for (track of beat.tracks; track $index) {
      <article>
        <div id="track"
             [class.eight-steps]="track.numberOfSteps == NumberOfSteps.eight"
             [class.sixteen-steps]="track.numberOfSteps == NumberOfSteps.sixteen"
             [class.thirty-two-steps]="track.numberOfSteps == NumberOfSteps.thirty_two"
             [class.sixty-four-steps]="track.numberOfSteps == NumberOfSteps.sixty_four">
          @for (step of track.steps.steps; track $index){
            <button class="step cursor-pointer"
                    [class.active]="step"
                    [class.current]="$index === soundService.index"
                    [class.highlight]="Math.floor($index / 4) % 2 === 0"
                    (click)="stepClick(track, StepIndex($index), step)">
            </button>
          }
        </div>
      </article>
    }
  </section>
</div>
