@import "./styles/utils";
@import "./styles/styles";

#app-container {
  height: 100%;
}

.menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &.genre {
    justify-content: flex-end;
  }

  .button {
    border-radius: 5px;
    width: 90%;
    padding: 5px;
    background-color: var(--backgroundColor);
    border: none;
    text-align: left;
    color: var(--textColor);

    &.selected {
      background-color: var(--menuButtonColor);
      border: solid 1px var(--borderColor);
    }

    &:hover:not(.selected) {
      background-color: #cecece;
    }
  }
}

.content {
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.header {
  width: 240px;
  font-size: 30px;
}

.column {
  flex-direction: column;
}

.left-menu {
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.nowrap {
  white-space: nowrap;
}

.mobile-menu {
  width: 100%;
  overflow-x: auto;
  gap: 5px;

  .item {
    border: solid 1px var(--borderColor);
    border-radius: 5px;
    padding: 10px;

    &.selected {
      background-color: var(--menuButtonColor);
    }
  }
}

.header-mobile {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

#title-image {
  width: 150px;
  aspect-ratio: 1;
}

#title-image-mobile {
  width: 300px;
}

.play-pause-button {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px var(--borderColor);
  font-size: 20px;
}

.beat-name {
  height: 40px;
  @include centered-text;
  width: 200px;
  min-width: 200px;
  font-size: 20px;
}

.bpm {
  height: 40px;
  @include centered-text;
  width: 120px;
  min-width: 120px;
  font-size: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  justify-content: center;
}

.corner {
  position: absolute;
  width: 75px;
  aspect-ratio: 1;
  clip-path: polygon(0 100%,0 0,100% 100%,0 100%);
}

/* Sidebar container */
.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  padding-top: 20px;
  transition: width 0.3s ease;
}

/* Header inside the sidebar */
.sidebar-header {
  padding: 15px;
  color: white;
  background-color: #444;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Close button */
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Main content */
.content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Hidden sidebar state */
.sidebar.closed {
  width: 0;
  overflow: hidden;
}

.sidebar.closed + .content {
  margin-left: 0;
}
