/* From Uiverse.io by Cybercom682 */
.number-control {
  display: flex;
  align-items: center;

  .number-left::before,
  .number-right::after {
    content: attr(data-content);
    background-color: var(--backgroundColor);;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--borderColor);;
    width: 24px;
    height: 24px;
    color: var(--textColor);
  }

  .number-left::before {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    content: "-";
  }

  .number-right::after {
    content: "+";
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .number-quantity {
    padding: 0.25rem;
    width: 64px;
    height: 16px;
    -moz-appearance: textfield;
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColor);
    color: var(--textColor);
  }
}

